* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  all: unset;
}

p {
  font-size: 1.6rem;
}

.dogContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.dogImg {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.getDogButton {
  padding: 1rem;
  background-color: orange;
  font-weight: bold;
  border-radius: 10px;
}

.getDogButton:hover {
  background-color: rgb(208, 136, 1);
}