* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 2rem;
  font-size: 6rem;
}

button {
  all: unset;
  font-family: 'Courier New', Courier, monospace;
  padding: 0.5rem;
  border: 2px solid #444;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease;
}

button:hover {
    background-color: #f5f5f5;
}

.counter-display {
  font-size: 8rem;
  margin-bottom: 1.6rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
}