* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

button,
input {
  all: unset;
}

ul,
li {
  list-style: none;
}

header {
  position: fixed;
  height: 5rem;
  width: 100%;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

header nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

#cart-icon {
  font-size: 24px;
  --ionicon-stroke-width: 36px;
  cursor: pointer;
}

#input-section {
  
}

#input-container {
  height: 10vh;
  padding-top: 10rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#search-input {
  width: clamp(25rem, 60%, 40rem);
  padding: 0.8rem 1rem;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1.6rem;
}

#add-input-button {
  padding: 0.8rem 1rem;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
}

#add-input-button:hover {
  background-color: lightgray;
}

#filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 4rem;
  font-size: 1.4rem;
  font-weight: 600;
  gap: 1rem;
}

#products-section {
  max-width: clamp(30rem, 90%, 80rem);;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}

.product-container {
  display: flex;
  align-items: center;
  gap: 3rem;
  box-shadow: 4px 2px 4px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.product-img {
  width: 100%;
  max-width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.product-name {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.product-price {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
}

.add-cart-button {
  padding: 1rem 1.4rem;
  background-color: orange;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.add-cart-button:hover {
  background-color: rgb(222, 144, 1);
}

.cart-modal {
  position: fixed;
  top: 5rem;
  right: 0;
  width: 30rem;
  height: 100vh;
  padding: 2rem;
  background-color: white;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  z-index: 100;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}

#close-cart-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 16px;
  --ionicon-stroke-width: 36px;
  cursor: pointer;
}

.cart-modal.visible {
  transform: translateX(0);
}

.item-name {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border: 0.5px solid black;
  border-radius: 25px;
  font-size: 1.4rem;
}

.button-decrement,
.button-increment {
  cursor: pointer;
}

#total-quantity,
#total-price {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}
