* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul, li {
  list-style: none;
}

body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
}

main {
  background-color: lightsalmon;
  height: 500px;
  width: 400px;
  padding: 3rem;
  border-radius: 8px;
}

.input-container {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
    border-bottom: 1px dashed #555;
}

.task-input {
    flex: 1;
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
}

.add-button {
    all: unset;
    background-color: #eee;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}

.add-button:hover {
    background-color: #ccc;
}

.add-button:focus {
    outline: 2px solid #555;
}

.section-tasks {
  margin-top: 2rem;
}

.div-style {
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  align-items: center;
}

.delete-button-style {
  all: unset;
  font-weight: bold;
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  cursor: pointer;
}

.delete-button-style:hover {
  background-color: #ccc;
}